<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>

<p>Add this to Google Earth as Network Link:</p>

<p><%= kml_link %></p>

<p>More information at https://github.com/darndt/swisstopo-kml</p>

  </body>
</html>

